html {
    height: 100%;
}

body {
    padding-top: 60px;
    position: relative;
    min-height: 100%;
}

h1 {
    border-bottom: 1px solid #aaaaaa;
    font-size: 32px;
    text-transform: uppercase;
    margin: 40px 0 20px;
    padding-bottom: 9px;
}
